[build]
  command = "curl -L --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y && source $HOME/.cargo/env && rustup target add wasm32-unknown-unknown && curl -L --proto '=https' --tlsv1.2 -sSf https://trunk-rs.org/downloads/install.sh | sh && ./trunk build --release"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
